.product-item {
  height: fit-content;
  cursor: pointer;
  .item-top {
    height: 220px;
  }
  .item-top img {
    max-height: 100%;
    transition: all 0.5s ease;
  }
  .product-item-btn {
    bottom: -100px;
    transition: all 0.3s ease;
   opacity: .7;
  }
  .product-item-btn:hover {
    background-color: var(--primary-color);
  }
  &:hover {
    .product-item-btn {
      bottom: 0px;
   &:hover{
    opacity: 1;
   }
    }
    .item-top img {
      scale: 1.2;
    }
  }
  .sale , .newLabel {
    padding: 5px 14px;
    font-size: 11px;
  }
  .action-btns button , .action-btns a {
    width: 32px;
    height: 32px;
    line-height: 0 !important;
    svg {
      height: 18px;
      width: 18px;
      transition: all 0.2s ease;
    }
    &:hover {
      svg {
        color: var(--primary-color);
      }
    }
  }
}


.product-fav-icon-active{
  background-color: var(--primary-color) !important;
  color: white;
&:hover{
  svg {
    color: white !important;
  }
}
}

.fav-remove-icon{
  background-color: var(--primary-color) !important;
  svg {
    color: white !important;
  }
}
.product-fav-icon svg{
  margin: 2px 0 0 1px;
}