.product-item {
  .item-top {
    height: 200px;
  }
  .item-top img {
    max-height: 90%;
    transition: all 0.5s ease;
  }
  .product-item-btn {
    bottom: -100px;
    transition: all 0.2s ease;
  }
  .product-item-btn:hover {
    background-color: var(--primary-color);
  }
  &:hover {
    .product-item-btn {
      bottom: 0px;
    }
    .item-top img {
      scale: 1.2;
    }
  }
  .sale , .newLabel {
    padding: 5px 14px;
    font-size: 11px;
  }
  .action-btns button {
    width: 32px;
    height: 32px;
    svg {
      height: 18px;
      width: 18px;
      transition: all 0.2s ease;
    }
    &:hover {
      svg {
        color: var(--primary-color);
      }
    }
  }
}
