.product-color-btn{
    height: 25px;
    width: 25px;
}
.product-detail-left{
    padding: clamp(20px,3vw,50px);
    
    min-height: 60vh;
}
.product-detail-left img{
  cursor: pointer;
  width: 100%;
    height: clamp(300px,30vw,450px);
    object-fit: contain;
}
.product-details-img-item{
background-color: rgba(255, 255, 255, 0.116);
cursor: pointer;
transition: all .2s ease;
border: 1px solid transparent;

img{
    
    transition: all .5s ease;
    object-fit: contain;
    width: 90%;
    max-height: 80px;
}
}

.product-details-img-item-selected{
    background-color: rgba(255, 188, 3, 0.096) !important;
    border: 1px solid var(--primary-color);
}

.colors-container .product-color-btn{
    cursor: pointer;
    background-color: var(--product-color);

}
.colors-container .product-color-btn-active{
    border: 2px solid white;
outline: 2px solid var(--primary-dark-color);
}

.size-container .product-size-btn{
    background-color: white;
    color: black;
    height: 40px;
    font-size: 13px;
    width: 40px;
    border: 1px solid rgba(0, 0, 0, 0.11);
/* outline: 2px solid var(--primary-dark-color); */
}
.size-container .product-size-btn-active{
    background-color: var(--primary-dark-color);
    border: none;
color: white;
}
.product-details-btn{
    line-height: 0;
    border: 1px solid rgba(0, 0, 0, 0.219);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: all .2s ease;
    &:hover{
        background-color: var(--primary-color);
        color: white;
    }
}


.product-detail-left img:nth-child(1){
height: 60vh;
}

.product-detail-left-bottom-padding{
    padding-bottom: 120px;
}

.product-detail-fav-active{
    background-color: var(--primary-color);
    color: white;
}
.product-details-fav-icon{
    width: 40px;
    height: 40px;
}


/* common */
.ribbon {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    
  }
  .ribbon::before,
  .ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 3px solid  var(--primary-color);
  }
  .ribbon span {
    position: absolute;
    display: block;
    width: 165px;
    padding: 5px 0;
    background-color: #1eb5ff;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
  }
  

  
  .wdp-ribbon{
      padding: 2px;
      position: absolute;
      right: 0px;
      width: 60px;
      top: 10px;
      height:40px;
      background-color:  var(--primary-color);
  }
  
  .wdp-ribbon-two:before, .wdp-ribbon-two:before {

      content: "";
      position: absolute;
      left: -14px;
      top: 0;
      border: 9px solid transparent;
      border-width: 20px 8px;
      border-right-color: var(--primary-color);
  }
  .wdp-ribbon-two:before {
      border-color: var(--primary-color);
      border-left-color: transparent;
      left: -14px;
  }